{% extends 'planner4u/base.html' %}
{% block content %}
    <div>
      <h2>Select task: </h2>
        <div class="input-group">
            <input type="text" id="myInput" placeholder="Title of the task..." class="form-control" style="width:250px;">
            <button onclick="reloadTasks()" class="btn btn-default" type="button">Search</button>
        </div>
    </div>
    <br/>
    <div class="scrollpane tasks-scrollpane" id="tasks-pane">
        <ul id="tasks-list" class="select-ul">

        </ul>
    </div>
    <br/>

    <br/>
        <a href="{% url 'planner4u:show_task' task_id %}" class="pope-ref">Back to task</a>
        <button class="pbtn pbtn-success" onclick="add_subtask_relationship()">
            Add subtask
        </button>
    <br/>

    <script>
       function settotop(){
            $(".tasks-scrollpane").scrollTop(0)

       }
       var csrftoken = $.cookie('csrftoken');

       function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
       }

        $("#myInput").on('keyup', function (e) {
            reloadTasks()
        });

        function reloadTasks(delta=6) {
            console.log("Deleting tasks list items..");
            var inputValue = document.getElementById("myInput").value;
            $("#tasks-list").empty();
            data = {
                from_task: 0,
                delta: delta,
                title_pattern: inputValue,
                'username': '{{ user.username }}'
            }
            loadResults(url="{% url 'planner4u:get_tasks' %}", data, add_loaded_tasks_to_list);
            console.log("Ok, after loadResult in reloadTasks");
        }

        function add_loaded_tasks_to_list(tasks){
            console.log("Loaded tasks...");
            console.log(tasks);
            for(var i = 0; i < tasks.length; i++){
                task = tasks[i]
                var li = document.createElement('li');
                var title = document.createTextNode(task.title);
                li.id = task.task_id;
                li.appendChild(title);
                document.getElementById("tasks-list").appendChild(li);
            }
            console.log("Ok, tasks loaded");
        }

        function loadResults(url, data, success_function) {
            console.log("Invoke load results");
            $.ajax({
                url: url,
                data: data,
                success: function(response) {
                    success_function(response);
                }
            });
        };


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(function() {
            reloadTasks()
            $(".tasks-scrollpane").scroll(function() {
                var pane = $(".tasks-scrollpane")
                var list = $("#tasks-list");
                number_of_loaded_tasks = $("#tasks-list").children().length;
                if (pane.scrollTop() + pane.height() >= list.height()) {
                    pos = $(".tasks-scrollpane").scrollTop()
                    console.log("Scroll position: "+pos);
                    console.log("scrole position in scrole listener" + pos)
                    data = {
                        from_task: number_of_loaded_tasks,
                        delta: 6,
                        title_pattern: document.getElementById("myInput").value,
                        'username': '{{ user.username }}'
                    }
                    loadResults(url="{% url 'planner4u:get_tasks' %}", data, add_loaded_tasks_to_list);
                }

           });
        });


       var tasks_list = document.getElementById("tasks-list");
       tasks_list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            $("#tasks-list").children("li").each(function(index, item)
            {
                item.classList.remove('checked')
            });
            console.log("Checked: " + ev.target.id) ;
            ev.target.classList.toggle('checked');
          }
        }, false
       );



      function getSelectedElement(listName){
        var lists = document.getElementById(listName);
        selected_item_id = -1
        $("#tasks-list").children("li").each(function(index, item)
        {
            if(item.classList.contains('checked')){
                console.log("Selected: " + item.id)
                selected_item_id = item.id;
            }
        });
        return selected_item_id
      }

      function add_subtask_relationship(){
        //var relation_id = $('#relation-type-select').val();
        var task_id = {{task_id}};
        var subtask_id = getSelectedElement("tasks-list")
        if(subtask_id < 0){
            alert("Pleace, specify task!");
            return;
        }
        console.log("Task: "+task_id+", subtask: "+subtask_id);

        $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
        });

        $.ajax({
                method: "POST",
                url: "{% url 'planner4u:add_subtask_relation' %}",
                data: {
                    "task_id": {{task_id}},
                    "subtask_id": subtask_id,
                    'username': '{{ user.username }}'
                },
                success: function(response) {
                    if(response.added){
                        location.href="{% url 'planner4u:show_task' task_id %}"
                    }
                    else{
                        alert(response.message)
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
        });

      }
    </script>

{% endblock %}