{% extends 'planner4u/base.html' %}
{% block content %}
    <h2> Task creation: </h2>
    <form method="post" action="{% url 'planner4u:create_task_bdg' %}">
        {% csrf_token %}
        <table border="5" class="table">
            {{ form }}
        </table>
<br>
<br>
<br>
<br>
<br>
        <input type="submit" value="Create" class="pbtn pbtn-success"/>
    </form>
{% endblock %}