{% extends 'planner4u/base.html' %}
{% block content %}

<style>
h3 {
    font-size: 20px;
}
.table{
    color: #00A499;
    width: 58%;
    margin: auto 0;
}

.title{
    width: 370px;
    padding: 8px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center;
   	border: none;
	background: #ddd;
	outline: none;
	color: black;
	float: right;
	letter-spacing: 1px;
}

.description{
    width: 370px;
   	height: 9em;
	padding: 2%;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
	background: #ddd;
	outline: none;
	color: black;
	float: right;
	letter-spacing: 1px;
}

.priority_on_overdue{
    width: 370px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
	background: #ddd;
	outline: none;
	color: black;
	float: right;
}
</style>

<style>
.error{
	background-color: #fee;
	width: 30%;
	text-align: center;
	color: #c82848;
}

.error.errorShow.errorHide{
    display: none;
}

.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-middle {
    text-align: center;
}

.footer a {
    float: center;
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }

    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}

.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}

.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.w3hubs-icon ul li a i{
	line-height: 50px;
}

.w3hubs-icon ul li:hover{
	background: #e67e22;
}

.w3hubs-icon ul li a i {
    line-height: 38px;
}

.w3hubs-icon ul li a{
	font-size: 20px;
}

.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}
</style>

<style>
a.button5 {
  position: fixed;
  bottom: 65;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;s
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

input.button1 {
  width: 17.2%;
  position: fixed;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  display: flex;
  justify-content: center;
  margin: 0 73%;
}

input.button1:active {
  box-shadow: none;
}

input.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
</style>

<h3>Edytuj zadanie: </h3>

<form method="post" action="{% url 'planner4u:ssop_update_task' task_id %}" novalidate>
      {% csrf_token %}
      <br/>
          <table class="table">
              {{ form }}
          </table>
      <br/>
          <a href="{% url 'planner4u:ssop_show_task' task_id%}" class="button5">Powrót do zadania</a>
          <input type="submit" class="button1" value="Zaktualizować zadanie"/>
      <br/>
</form>

<br/>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <!--<div class="col-md-4">
                                <h3 id="groups-list-label"> Groups: </h3>
                            <ul class="list-group list-group-flush" id="groups-list">

                            </ul>
                        </div>
                        <div class="col-md-4">
                                <h3 style="visibility: hidden;" id="subtasks-list-label"> Subtasks: </h3>
                            <ul class="list-group list-group-flush" id="subtasks_list">

                            </ul>
                        </div>-->
                        <div style="position: absolute; float: right; top: -410; margin-left: 70%;">
                            <div class="col-md-18">
                                <h3 style="visibility: hidden;" id="executors-list-label"> Wykonawcy: </h3>

                                <ul class="list-group list-group-flush" id="executors_list">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <br/>
    <br/>


    <script>
            groups_list = document.getElementById("groups-list")

            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
            function load_groups() {
                $.ajax({
                    url : "{% url 'planner4u:get_task_groups' %}",
                    data: {
                      'task_id': {{ task_id }},
                      'username': '{{ user.username }}'
                    },
                    success : function(groups) {
                        user_groups = groups.user
                        task_groups = groups.task
                        for (var key in task_groups){
                            console.log(key, task_groups[key])
                        }
                        for (var key in user_groups) {
                            if (user_groups.hasOwnProperty(key)) {
                                li = document.createElement('li');
                                li.className += "list-group-item"
                                var checkbox = document.createElement('input');
                                checkbox.type = "checkbox";
                                checkbox.value = key
                                checkbox.addEventListener('change', function(event) {
                                    group_id = event.target.value
                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });

                                    $.ajax({
                                        method: "POST",
                                        url : "{% url 'planner4u:modify_task_group_relation' %}",
                                        data: {
                                          'task_id': {{ task_id }},
                                          'group_id': group_id,
                                          'add_relation': event.target.checked,
                                          'username': '{{ user.username }}'
                                        },
                                        success : function(result) {
                                            console.log(result)
                                        },
                                        error : function(xhr,errmsg,err) {
                                            alert("Couldn't modify task-group relation " + errmsg + err)
                                        }
                                    });
                                });
                                if(key in task_groups){
                                    checkbox.checked = true
                                }
                                group_link = document.createElement('a');
                                group_link.innerHTML = "<b> " + user_groups[key] + "</b>"
                                var url = "{% url 'planner4u:show_group' 111 %}";
                                href = url.replace('111', key);
                                group_link.setAttribute('href', href);

                                li.appendChild(checkbox);
                                li.appendChild(group_link); // append the text to the li
                                groups_list.appendChild(li); // append the list item to the ul

                            }
                        }

                    },
                    error : function(xhr,errmsg,err) {
                        alert("Couldn't load groups")
                    }
                });
            };
            load_groups()

            function load_subtasks() {
                $.ajax({
                    url : "{% url 'planner4u:get_subtasks'%}",
                    data: {
                      'task_id': {{ task_id }},
                      'username': '{{ user.username }}'
                    },
                    success : function(response) {
                        console.log(response)
                        if(response.length > 0){
                            document.getElementById("subtasks-list-label").style.visibility = "visible"
                        }
                        $(response).each(function (index, item) {
                            li = document.createElement('li');
                            li.className += "list-group-item"
                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.value = item.child_id
                            checkbox.checked = true
                            checkbox.addEventListener('change', function(event) {
                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });
                                    $.ajax({
                                        method: "POST",
                                        url : "{% url 'planner4u:modify_subtask_relation' %}",
                                        data: {
                                          'task_id': {{ task_id }},
                                          'child_id': item.child_id,
                                          'add_relation': event.target.checked,
                                          'username': '{{ user.username }}'
                                        },
                                        success : function(result) {

                                        },
                                        error : function(xhr,errmsg,err) {
                                            alert("Couldn't modify subtask relation " + errmsg + err)
                                        }
                                    });

                            });

                                task_link = document.createElement('a');
                                task_link.innerHTML = "<b> " + item.child_title + "</b>"
                                var url = "{% url 'planner4u:show_task' 111 %}";
                                href = url.replace('111', item.child_id);
                                task_link.setAttribute('href', href);


                                li.appendChild(checkbox);
                                li.appendChild(task_link); // append the text to the li
                                subtasks_list.appendChild(li); // append the list item to the ul
                        });


                    },
                    error : function(xhr,errmsg,err) {
                        alert("Couldn't load subtasks")
                    }
                });
            };
            if('{{ is_executor }}'=='no'){
                load_subtasks()
            }


           function load_executors() {
                $.ajax({
                    url : "{% url 'planner4u:get_executors'  %}",
                    data: {
                        'task_id': {{task_id}},
                        'username': '{{ user.username }}'
                    },
                    success : function(response) {
                        console.log(response)
                        if(response.length > 0){
                            document.getElementById("executors-list-label").style.visibility = "visible"
                        }
                        $(response).each(function (index, item) {
                            li = document.createElement('li');
                            li.className += "list-group-item"
                            var checkbox = document.createElement('input');
                            checkbox.type = "checkbox";
                            checkbox.value = item.user_id
                            checkbox.checked = true
                            checkbox.addEventListener('change', function(event) {
                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });
                                    user_id = event.target.value
                                    $.ajax({
                                        method: "POST",
                                        url : "{% url 'planner4u:modify_executor_relation' %}",
                                        data: {
                                          'task_id': {{ task_id }},
                                          'user_id': user_id,
                                          'add_relation': event.target.checked,
                                          'username': '{{ user.username }}'
                                        },
                                        success : function(result) {
                                            console.log(result);
                                        },
                                        error : function(xhr,errmsg,err) {
                                            alert("Couldn't modify subtask relation " + errmsg + err)
                                        }
                                    });

                            });
                            if('{{ is_executor }}'=='no'){
                                li.appendChild(checkbox);
                            }
                            var username = document.createElement("b");
                            username.innerHTML = " "+item.username;
                            li.appendChild(username);


                            document.getElementById("executors_list").appendChild(li); // append the list item to the ul
                        });


                    },
                    error : function(xhr,errmsg,err) {
                        alert("Couldn't load executors")
                    }
                });
            };
           load_executors()

    </script>

{% endblock %}