{% extends 'planner4u/base.html' %}
{% block content %}
    <div id="container" class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-13">
                    <h3>Zadanie: </h3>
                    <p style="font-size: 17px;"><b>Tytuł: </b> {{ task.title }}</p>
                    <p style="font-size: 17px; width: 64%; page-break-inside: avoid; height: auto;">
                        <b>Opis zadania: </b>
                        {{ task.description|default:"-" }}

                    </p>
                    <p style="font-size: 17px;"><b>Departament: </b> {{ task.status }} </p>
                    <p style="font-size: 17px;"><b>Wydział: </b> {{ task.priority }}</p>
                    <p style="font-size: 17px;"><b>Rodzaj zadania: </b> {{ task.priority_on_overdue }}</p>
                    <p style="font-size: 17px;"><b>Utworzone: </b> {{task.creation_date }}</p>
                    <p style="font-size: 17px;"><b>Twórca: </b> {{ creator }}</p>
                    <br/>
                </div>

                {% if plan %}
                    <div class="col-md-4">
                        <h3>Plan: </h3>
                        <p><b>Next date of task creation: </b> {{ plan.create_task_date }}</p>
                        <p><b>Repeat plan: </b> {{ plan.repeat_type }} </p>
                        <p><b>Interval: </b> {{ plan.plan_interval }}</p>
                        <p><b>End by: </b> {{ plan.end_type }}</p>
                        {% if plan.end_type == "number" %}
                            <p><b>Tasks to create: </b> {{ plan.repetitions_number }} </p>
                        {% elif plan.end_type == "date" %}
                            <p><b>Turn off plan after date: </b> {{ plan.end_date }}</p>
                        {% endif %}
                        <p><b>Plan was repeated: </b> {{ plan.repetitions_count }}</p>
                        <p><b>Active: </b> {{ plan.active }}</p>
                    </div>
                {% endif %}

                {% if condition%}
                    <div class="col-md-4">
                        <h3>Trigger task: </h3>

                        <p><b>Title: </b> {{ trigger_task.title }}</p>
                        <p><b>Description: </b> {{ task.description }} </p>
                        <p><b>Priority: </b> {{ task.priority }}</p>
                        <p><b>Status: </b> {{ trigger_task.status }} </p>
                        <p><b>Trigger status: </b> {{ condition.condition_task_status }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <a class="button2" href="{% url 'planner4u:wd_update_task' task.task_id%}" class="pope-ref">Edytuj zadanie</a>
    {% if plan %}
        <a href="{% url 'planner4u:update_plan' plan.plan_id %}" class="pope-ref">Edit plan</a>
    {% endif %}

    {% if task.task_type == "simple" and not is_executor %}
        <a class="button2" href="{% url 'planner4u:wd_add_executor' task.task_id%}" class="pope-ref" >Dodaj wykonawcę</a>
    {% endif %}

    {% if is_executor %}

    {% else %}
         <a onclick="deletion_confirmation()" class="button4">Usuń zadanie</a>
    {% endif %}

    {% if dates %}
        <br/>
        <br/>
        <table class="table">
            {% for date in dates %}
                <tr>
                    <td>
                        {{date.date_type}}
                    </td>
                    <td>
                        {{ date.date }}
                    </td>
                    <td>
                        <a class="button1" href="{% url 'planner4u:wd_update_date' date.date_id %}"> Edytuj </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% if groups %}
                            <div class="col-md-4">
                                <h3> Task groups: </h3>
                                <ul class="list-group list-group-flush">
                                    {% for group in groups %}
                                    <li class="list-group-item">
                                        <b><a href="{% url 'planner4u:show_group' group.group_id%}"> {{ group.title }}</a></b>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>

    </div>
    <div style="position: absolute; float: right; top: 49; margin-left: 60%;">
        {% if executors %}
        <div class="col-md-15">
            <h3> Wykonawcy: </h3>
            <div id="example" class="scroll">
                <ul class="list-group list-group-flush">
                    {% for executor in executors %}
                    <li class="list-group-item">
                        <b>{{ executor.name }}</b>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<br/>
<br/>
<br/>

<a href="{% url 'planner4u:wd-home' %}" class="button5">Powrót do Wydziału</a>

<style>
.scroll {
    height: 288.1px;
    overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>

<style>
b{
  color: #00A499;
  font-size: 17px;
}

a.button1 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .4em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button1:active {
  box-shadow: none;
}

a.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button2 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button2:active {
  box-shadow: none;
}

a.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
a.button4 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  white-space: nowrap;
  outline: none;
  border: none;
  background-color: #c82848;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button4:active {
  box-shadow: none;
}

a.button4:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button3 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .4em 2em;
  outline: none;
  border: none;
  background-color: #c82848;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button3:active {
  box-shadow: none;
}

a.button3:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button5 {
  position: fixed;
  bottom: 65;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-middle {
    text-align: center;
}

.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}

.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}

.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.w3hubs-icon ul li a i{
	line-height: 50px;
}

.w3hubs-icon ul li:hover{
	background: #e67e22;
}

.w3hubs-icon ul li a i {
    line-height: 38px;
}

.w3hubs-icon ul li a{
	font-size: 20px;
}

.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}
</style>

    <script>
            // User clicked expand/roll-up
            function tree_toggle(event) {

                event = event || window.event
                var clickedElem = event.target || event.srcElement
                if (!hasClass(clickedElem, 'Expand')) {
                    return // клик не там
                }
                // Node, на который кликнули
                var node = clickedElem.parentNode
                if (hasClass(node, 'ExpandLeaf')) {
                    return // клик на листе
                }
                // Loading subtasks
                LoadChildren(node.id);

                // определить новый класс для узла
                var newClass = hasClass(node, 'ExpandOpen') ? 'ExpandClosed' : 'ExpandOpen'

                // заменить текущий класс на newClass
                // регексп находит отдельно стоящий open|close и меняет на newClass
                var re = /(^|\s)(ExpandOpen|ExpandClosed)(\s|$)/
                node.className = node.className.replace(re, '$1' + newClass + '$3');
            }

            // Load children if expanded
            function LoadChildren(ListItemID) {
                console.log("LOAD CHILDREN");
                var container = document.getElementById(ListItemID).getElementsByClassName("Container")[0];
                if (container.children.length == 0) {
                    console.log(ListItemID);
                    $.ajax({
                            url : "{% url 'planner4u:get_subtasks' %}",
                            data: {
                              'task_id': ListItemID,
                              'username': '{{ user.username }}'
                            },
                            success : function(response) {
                                console.log(response);
                                var arrayLength = response.length;
                                // Iterate through children
                                $(response).each(function (index, item) {
                                    console.log(index, item)
                                    var li = document.createElement("li");
                                    li.className += "Node ExpandClosed  ";

                                    if (arrayLength == index + 1)
                                        li.className += "IsLast ";
                                    if (item.number_of_subtasks == 0)
                                        li.className += "ExpandLeaf ";

                                    // Set save id of subtask
                                    li.setAttribute("id", JSON.stringify(item.child_id));

                                    // Setting div for plus/minus
                                    var divExpand = document.createElement("div");
                                    divExpand.className += "Expand";
                                    // Setting div for content
                                    var divContent = document.createElement("div");
                                    divContent.className += "Content";



                                    // Save title of subtask
                                    task_link = document.createElement('a');
                                    task_link.innerHTML = "<b> " + item.child_title + " </b>";
                                    var url = "{% url 'planner4u:show_task' 111 %}";
                                    href = url.replace('111', item.child_id);
                                    task_link.setAttribute('href', href);
                                    divContent.appendChild(task_link);

                                    //relation_type_label = document.createElement('label');
                                    //relation_type_label.innerHTML = "(" + item.relation_type + ")";
                                    //divContent.appendChild(relation_type_label);


                                    var ul = document.createElement("ul");
                                    ul.className += "Container";

                                    li.appendChild(divExpand);
                                    li.appendChild(divContent);
                                    li.appendChild(ul);

                                    container.appendChild(li);
                                });
                            },
                            error : function(xhr,errmsg,err) {
                                alert("Couldn't load subtasks")
                            }
                    });
                }
            }
            function hasClass(elem, className) {
                return new RegExp("(^|\\s)" + className + "(\\s|$)").test(elem.className)
            }
            function errorFunc(errorData) {
                alert('Błąd ' + errorData.responseText);
            }

            function deletion_confirmation(){
                if (confirm("\Czy jesteś pewen/-a, że chcesz usunąć to zadanie?")) {
                    location.href= "{% url 'planner4u:wd_delete_task'  task.task_id %}"
                }
            }
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
            function delete_from_executable_confirmation(){
                if (confirm("Czy jesteś pewien/-a, że nie chcesz być wykonawcą tego zadania?")) {
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });
                    $.ajax({
                        method: "POST",
                        url : "{% url 'planner4u:modify_executor_relation' %}",
                        data: {
                            'task_id': {{ task.task_id }},
                            'user_id': {{ user.id }},
                            'add_relation': false,
                            'username': '{{ user.username }}'
                        },
                        success : function(result) {
                            location.href= "{% url 'planner4u:home' %}"
                        },
                        error : function(xhr,errmsg,err) {
                            alert("Couldn't modify subtask relation " + errmsg + err)
                        }
                    });

                }
            }
        </script>
{% endblock %}