{% extends 'planner4u/base.html' %}
{% block content %}

<style>
.select-ul li {
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}

/* Set all odd list items to a different color (zebra-stripes) */
.select-ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.select-ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.select-ul li.checked {
  background: #00A499;
  color: #fff;
}

.scrollpane { height: 300px; overflow: auto; }
</style>

<style>
a.button5 {
  position: fixed;
  bottom: 65px;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

button.button4 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  display: flex;
  justify-content: center;
  margin: -3% auto;
}

button.button4:active {
  box-shadow: none;
}

button.button4:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

#myInput {
  #background-position: 10px 10px;
  #background-repeat: no-repeat;
  outline: none;
  position: center;
  width: 96%;
  background-image: linear-gradient(0deg,#28d8b2 2px,rgba(156,39,176,0) 0),linear-gradient(0deg, #28d8b2 1px,hsla(0,0%,82%,0) 0);
  margin: 14px 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 0px solid;
  margin-bottom: 12px;
}

h3 {
  text-align: center;
}

.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-middle {
    text-align: center;
}

.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

    <div>
        <h3>Wybierz użytkownika: </h3>
        <input type="text" id="myInput" placeholder="Wyszukaj...">
    </div>
    <br/>
    <div class="scrollpane tasks-scrollpane" id="users-pane">
        <ul id="users-list" class="select-ul">

        </ul>
    </div>
    <br/>

    <br/>
        <a href="{% url 'planner4u:wop2_show_task' task_id %}" class="button5">Powrót do zadania</a>
        <button class="button4" onclick="add_user_executor()">Dodaj wykonawcę</button>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<br/>
<br/>
<br/>
<br/>
<br/>

    <script>
       function settotop(){
            $(".tasks-scrollpane").scrollTop(0)

       }
       var csrftoken = $.cookie('csrftoken');

       function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
       }

        $("#myInput").on('keyup', function (e) {
            reloadUsers()
        });

        function reloadUsers(delta=6) {
            console.log("Deleting tasks list items..");
            var inputValue = document.getElementById("myInput").value;
            $("#users-list").empty();
            data = {
                from_user: 0,
                delta: delta,
                username_pattern: inputValue,
                'username': '{{ user.username }}'
            }
            loadResults(url="{% url 'planner4u:get_users' %}", data, add_loaded_users_to_list);
            console.log("Ok, after loadResult in reloadUsers");
        }

        function add_loaded_users_to_list(users){
            console.log("Loaded users...");
            console.log(users);
            for(var i = 0; i < users.length; i++){
                user = users[i]
                var li = document.createElement('li');
                var username = document.createTextNode(user.username);
                li.id = user.user_id;
                li.appendChild(username);
                document.getElementById("users-list").appendChild(li);
            }
            console.log("Ok, users loaded");
        }

        function loadResults(url, data, success_function) {
            console.log("Invoke load results");

            $.ajax({
                url: url,
                data: data,
                success: function(response) {
                    success_function(response);
                }
            });
        };


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(function() {
            reloadUsers()
            $(".tasks-scrollpane").scroll(function() {
                var pane = $(".tasks-scrollpane")
                var list = $("#users-list");
                number_of_loaded_users = $("#users-list").children().length;
                if (pane.scrollTop() + pane.height() >= list.height()) {
                    pos = $(".tasks-scrollpane").scrollTop()
                    console.log("Scroll position: "+pos);
                    console.log("scrole position in scrole listener" + pos)
                    data = {
                        from_user: number_of_loaded_users,
                        delta: 6,
                        username_pattern: document.getElementById("myInput").value,
                        'username': '{{ user.username }}'
                    }
                    loadResults(url="{% url 'planner4u:get_users' %}", data, add_loaded_users_to_list);
                }

           });
        });


       var users_list = document.getElementById("users-list");
       users_list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            $("#users-list").children("li").each(function(index, item)
            {
                item.classList.remove('checked')
            });
            console.log("Checked: " + ev.target.id) ;
            ev.target.classList.toggle('checked');
          }
        }, false
       );



      function getSelectedElement(listName){
        var lists = document.getElementById(listName);
        selected_item_id = -1
        $("#users-list").children("li").each(function(index, item)
        {
            if(item.classList.contains('checked')){
                console.log("Selected: " + item.id)
                selected_item_id = item.id;
            }
        });
        return selected_item_id
      }

      function add_user_executor(){
        //var relation_id = $('#relation-type-select').val();
        var task_id = {{ task.task_id }};
        var user_id = getSelectedElement("users-list")
        if(user_id < 0){
            alert("Pleace, specify user!");
            return;
        }
        console.log("Task: "+task_id+", User: "+user_id);
        $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
        });

        $.ajax({
                method: "POST",
                url: "{% url 'planner4u:add_executor_relation' %}",
                data: {
                    "task_id": {{task.task_id}},
                    "user_id": user_id,
                    'username': '{{ user.username }}'
                },
                success: function(response) {

                    if(response.added){
                        location.href="{% url 'planner4u:show_task' task.task_id %}"
                    }
                    else{
                        alert(response.message)
                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
        });

      }
    </script>

{% endblock %}