{% load staticfiles %}
{% block content %}
<head>
	<script type="text/javascript" src="registration/login.js"></script>
</head>
	<body>
		{% if form.errors %}
				<!--<p>There's something wrong with what you entered</p>-->
			<div class="error-message error-message-highlighted push island-1-2" role="alert" aria-live="assertive">
				<h3 class="push-0">
					<span class="icon-label">please, enter a valid username and password</span>
				</h3>
			</div>
		{% endif %}

		<form class="max-length island" id="signup" method="post" novalidate>
			{% csrf_token %}
			<!--{{ form.as_p }}-->
			<div class="container">
			<h1>e-urząd</h1>
			<!--<p>Please fill in this form to create an account.</p>-->
			<hr>
			{{form.as_p}}
			<!--<label for="name"><b>Username</b></label>
			<br>-->
			<!--<div typeof="name" id="name" aria-required="true" aria-describedby="name-error">{{ form.username }}
			{% if form.errors %}
				<p class="error-message milli island-1-4 push-0" id="name-error" aria-describedby="name-error">
					<span class="icon-label">Please provide a username</span>
				</p>
			{% endif %}
			</div>-->
				<!--{{ form.username }}-->
			<!--<input type="text" placeholder="Enter Email" name="email" id="email" required>-->
			<!--<br>
			<label><b>Password</b></label>
			<br>->
				{{form.password}}-->
			<!--<input type="password" placeholder="Enter Password" name="psw" id="psw" required>-->
			<br>
			<!--<label><b>Repeat Password</b></label>-->
			<!--<br>-->
				<!--{{form.password}}-->
			<!--<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>-->
			<hr>
		  <!--<div class="container terms">
			By creating an account you agree to our <a href="#">Terms & Privacy</a>.
		  </div>-->
			<button type="submit" class="registerbtn" value="login">Login</button>
		  </div>

		  <div class="container signin">
			<p>Already have an account? <a href="{% url 'planner4u:register' %}">Sign in</a>.</p>
		  </div>
			<style type="text/css">
				h1 {
				  color: #04AA6D;
				}
				hr {
					width: 30%;
				}
				* {box-sizing: border-box}

				/* Add padding to containers */
				.container {
				  padding: 16px;
				  text-align: center;
				}

				/* Full-width input fields */
				input[type=text], input[type=password] {
				  width: 30%;
				  padding: 15px;
				  margin: 5px 0 12px 0;
				  display: inline-block;
				  border: none;
				  text-align: center;
				  background: #f1f1f1;
				}

				input[type=text]:focus, input[type=password]:focus {
				  background-color: #ddd;
				  outline: none;
				}

				/* Overwrite default styles of hr */
				hr {
				  border: 1px solid #f1f1f1;
				  margin-bottom: 25px;
				}

				/* Set a style for the submit/register button */
				.registerbtn {
				  background-color: #04AA6D;
				  color: white;
				  padding: 16px 20px;
				  margin: 8px 0;
				  border: none;
				  cursor: pointer;
				  width: 30%;
				  opacity: 0.9;
				}

				.registerbtn:hover {
				  opacity:1;
				}

				/* Add a blue text color to links */
				a {
				  color: dodgerblue;
				}
				/*.terms {
				  font-size: 14.5px;
				}*/
				/* Set a grey background color and center the text of the "sign in" section */
				.signin {
				  background-color: #f1f1f1;
				  text-align: center;
				  width: 29%;
				  margin: auto;
				  position: absolute;
				  left: 0;
				  right: 0;
				}
				input:invalid,
				input[type="checkbox"]:invalid + label::before{
				  border-color: #f33;
				}
				.error-message {
				  display: none;
				  background-color: #fee;
				  color: #c33;
				}
				.error-message-highlighted {
				  background-color: #c33;
				  color: #fff;
				}
				.error-message:first-child,
				input:invalid + .error-message,
				input:invalid + label + .error-message {
				  display: block;
				}

			</style>
		</form>
		<br/>
		<!--<a href="{% url 'planner4u:register' %}">Register</a>-->
	</body>
{% endblock %}

