{% load staticfiles %}
{% block content %}
<head>
	<title>e-Urząd</title>
	<script type="text/javascript" src="registration/login.js"></script>
</head>
	<body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<form class="max-length island" id="signup" method="post" novalidate>
			{% csrf_token %}
			<div class="container">
			<h1>e-Urząd</h1>
			<hr>
				<label>Nazwa użytkownika</label>
				<br>
				{{ form.username }}
			<br>
			<label>hasło</label>
				<br>
				{{ form.password }}
			<br>
			<hr>

			<button type="submit" class="registerbtn" value="login">Zaloguj się</button>
		  </div>
		  <!--<div class="container signin">
			<p>Already have an account? <a href="{% url 'planner4u:register' %}">Sign in</a>.</p>
		  </div>-->


			<style type="text/css">
				h1 {
				  color: #28d8b2;
				}
				hr {
					width: 30%;
				}
				* {box-sizing: border-box}

				/* Add padding to containers */
				.container {
				  padding: 16px;
				  text-align: center;
				}
				label {
					color: #28d8b2;
				}
				/* Full-width input fields */
				input[type=text], input[type=password] {
				  width: 30%;
				  padding: 15px;
				  margin: 5px 0 12px 0;
				  display: inline-block;
				  border: none;
				  text-align: center;
				  background: #f1f1f1;
				}

				input[type=text]:focus, input[type=password]:focus {
				  background-color: #ddd;
				  outline: none;
				}

				/* Overwrite default styles of hr */
				hr {
				  border: 1px solid #f1f1f1;
				  margin-bottom: 25px;
				}

				/* Set a style for the submit/register button */
				.registerbtn {
				  background-color: #28d8b2;
				  color: white;
				  padding: 13px 20px;
				  font-size: 11pt;
				  margin: 8px 0;
				  border: none;
				  cursor: pointer;
				  width: 30%;
				  opacity: 0.9;
				}

				.registerbtn:hover {
				  opacity:1;
				}

				/* Add a blue text color to links */
				a {
				  color: dodgerblue;
				}
				/*.terms {
				  font-size: 14.5px;
				}*/
				/* Set a grey background color and center the text of the "sign in" section */
				.signin {
				  background-color: #f1f1f1;
				  text-align: center;
				  width: 29%;
				  margin: auto;
				  position: absolute;
				  left: 0;
				  right: 0;
				}
				[contentEditable]{
					padding:12px;
				}
				[data-placeholder]:empty:before{
					content: attr(data-placeholder);
					color: #888
					font-style: italic;
				}
				input:invalid,
				input[type="checkbox"]:invalid + label::before{
				  border-color: #f33;
				}

				.error-message {
				  display: none;
				  background-color: #fee;
				  width: 30%;
				  font-size: 9pt;
				  text-align: center;
				  display: inline-block;
				  margin-left: auto;
				  margin-right: auto;
				  color: #c82848;
				  padding-top: 1px;
				  padding-bottom: 1px;
				}
				.error-message:first-child,
				input:invalid + .error-message,
				input:invalid + label + .error-message {
				  display: block;
				}

			</style>
		</form>

	</body>
	<footer>
			{% if form.errors %}
				<!--<p>There's something wrong with what you entered</p>-->
				<div class="error-message error-message-highlighted push island-1-2" role="alert" aria-live="assertive">
					<h3 class="push-0">
						<span class="icon-label">Nazwa użytkownika lub hasło jest nieprawidłowe</span>
					</h3>
				</div>
			{% endif %}
	</footer>
{% endblock %}

