<!--{% extends 'planner4u/base.html' %}-->
{% load staticfiles %}
{% block content %}
        <!--<form method="post" action="{% url 'planner4u:register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <p>There's something wrong with what you entered</p>
            {% endif %}
            <table border="5">

                {{ form }}
            </table>


            <input type="submit" value="register">
        </form>
        <br/>
        <a href="{% url 'planner4u:login' %}">Login</a>-->

<head>
	<script type="text/javascript" src="registration/register.js"></script>
</head>
	<body>
		{% if form.errors %}
				<!--<p>There's something wrong with what you entered</p>-->
			<div class="error-message error-message-highlighted push island-1-2" role="alert" aria-live="assertive">
				<h3 class="push-0">
					<span class="icon-label">please, enter a valid username and password</span>
				</h3>
			</div>
		{% endif %}

		<form class="max-length island" action="{% url 'planner4u:register' %}" id="signup" method="post" novalidate >
			{% csrf_token %}
			<!--{{ form.as_p }}-->
			<div class="container">
			<h1>e-urząd</h1>
			<!--<p>Please fill in this form to create an account.</p>-->
			<hr>
                {{form.as_p}}
			<!--<label for="namee"><b>Username</b></label>
			<br>
			<div typeof="namee" id="namee" aria-required="true" aria-describedby="name-errorr">{{ form.username }}
			{% if form.errors %}
				<p class="error-message milli island-1-4 push-0" id="name-errorr" aria-describedby="name-error">
					<span class="icon-label">Please provide a username</span>
				</p>
			{% endif %}
			</div>-->
				<!--{{ form.username }}-->
			<!--<input type="text" placeholder="Enter Email" name="email" id="email" required>-->
			<!--<br>
			<label for="nameee"><b>Password</b></label>
			<br>

                {{form.password}}-->

			<!--<input type="password" placeholder="Enter Password" name="psw" id="psw" required>-->
			<br>
			<!--<label><b>Repeat Password</b></label>
			<br>
				{{form.password}}-->
			<!--<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>-->
			<hr>
		  <!--<div class="container terms">
			By creating an account you agree to our <a href="#">Terms & Privacy</a>.
		  </div>-->
			<button type="submit" class="registerbtn" value="register" data-href-template="{% url 'planner4u:register' %}" >Register</button>
		  </div>

		  <!--<div class="container signin">
			<p>Already have an account? <a href="{% url 'planner4u:register' %}">Sign in</a>.</p>
		  </div>-->
			<style type="text/css">
				h1 {
				  color: #04AA6D;
				}
				hr {
					width: 30%;
				}
				* {box-sizing: border-box}

				/* Add padding to containers */
				.container {
				  padding: 16px;
				  text-align: center;
				}

				/* Full-width input fields */
				input[type=text], input[type=password] {
				  width: 30%;
				  padding: 15px;
				  margin: 5px 0 12px 0;
				  display: inline-block;
				  border: none;
				  text-align: center;
				  background: #f1f1f1;
				}

				input[type=text]:focus, input[type=password]:focus {
				  background-color: #ddd;
				  outline: none;
				}

				/* Overwrite default styles of hr */
				hr {
				  border: 1px solid #f1f1f1;
				  margin-bottom: 25px;
				}

				/* Set a style for the submit/register button */
				.registerbtn {
				  background-color: #04AA6D;
				  color: white;
				  padding: 16px 20px;
				  margin: 8px 0;
				  border: none;
				  cursor: pointer;
				  width: 30%;
				  opacity: 0.9;
				}

				.registerbtn:hover {
				  opacity:1;
				}

				/* Add a blue text color to links */
				a {
				  color: dodgerblue;
				}
				/*.terms {
				  font-size: 14.5px;
				}*/
				/* Set a grey background color and center the text of the "sign in" section */
				.signin {
				  background-color: #f1f1f1;
				  text-align: center;
				  width: 29%;
				  margin: auto;
				  position: absolute;
				  left: 0;
				  right: 0;
				}
				input:invalid,
				input[type="checkbox"]:invalid + label::before{
				  border-color: #f33;
				}
				.error-message {
				  display: none;
				  background-color: #fee;
				  color: #c33;
				}
				.error-message-highlighted {
				  background-color: #c33;
				  color: #fff;
				}
				.error-message:first-child,
				input:invalid + .error-message,
				input:invalid + label + .error-message {
				  display: block;
				}

			</style>
          <input type="submit" value="register">
		</form>
        <br/>
        <a href="{% url 'planner4u:login' %}">Login</a>-->
		<br/>

		<!--<a href="{% url 'planner4u:register' %}">Register</a>-->
	</body>

{% endblock %}


<p class="tip">Click on button in image container</p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" />
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button type="button" class="submit">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </div>
  </div>
</div>

<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>