{% extends 'planner4u/base.html' %}
{% block content %}
    <form method="post"  action="{% url 'planner4u:create_plan' %}">
        {% csrf_token %}
        <h2>Plan and template task creation</h2>
        <table border="5" class="table">
            {{ plan_form }}
            {{ task_form }}
        </table>

        <input type="submit" value="Create" class="pbtn pbtn-success"/>
    </form>
    <script>
        $('input:radio').on('click', function(e) {
            if(e.currentTarget.name == "end_type"){
                end_type = e.currentTarget.value
                console.log("end type: "+end_type);
            }
        });
    </script>
{% endblock %}