{% extends 'planner4u/base.html' %}
{% block content %}
        <h2>Edit plan: </h2>
        <form method="post" action="{% url 'planner4u:update_plan' plan_id %}">
            {% csrf_token %}
            <table class="table" border="5">
                {{ form }}
            </table>
            <a href="{% url 'planner4u:show_task' task_id %}" class="pope-ref">Back to task</a>
            <input type="submit" value="Update" class="pbtn pbtn-success"/>
        </form>
{% endblock %}