{% extends 'planner4u/base.html' %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">
.date{
	width: 123.3px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
    background: #ddd;
	outline: none;
	color: black;
}

.select{
    width: 379px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
	background: #ddd;
	outline: none;
	color: black;
}

.error{
	background-color: #fee;
	width: 30%;
	text-align: center;
	color: #c82848;
}

.error.errorShow.errorHide{
    display: none;
}

.table{
    color: #00A499;
    width: 58%;
    margin: auto;
}
h3 {
    text-align: center;
    margin-right: 42%;
}
.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-middle {
    text-align: center;
}
.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}

.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}

.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.w3hubs-icon ul li a i{
	line-height: 50px;
}

.w3hubs-icon ul li:hover{
	background: #e67e22;
}

.w3hubs-icon ul li a i {
    line-height: 38px;
}

.w3hubs-icon ul li a{
	font-size: 20px;
}

.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}

a.button5 {
  position: fixed;
  bottom: 65px;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

input.button2 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .3em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  display: flex;
  justify-content: center;
  margin: 17px auto;
}

input.button2:active {
  box-shadow: none;
}

input.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
</style>

<h3> Utworzenie daty </h3>

<form method="post" action="{% url 'planner4u:create_date' task_id %}" novalidate>
    {% csrf_token %}
    <table class="table">
        {{ form }}
    </table>

    <a href="{% url 'planner4u:show_task' task_id %}" class="button5">Powrót do zadania</a>
    <input type="submit" value="Zapisz" class="button2"/>
</form>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://www.twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}