{% extends 'planner4u/base.html' %}
{% block content %}

<style>
.date{
	width: 123.3px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
    background: #ddd;
	outline: none;
	color: black;
}

.table{
    color: #00A499;
    width: 58%;
    margin: auto;
}

h3 {
    text-align: center;
    margin-right: 37%;
}

a.button5 {
  position: fixed;
  bottom: 65px;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

input.button2 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .3em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  display: flex;
  justify-content: center;
  margin: 17px auto;
}

input.button2:active {
  box-shadow: none;
}

input.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-middle {
    text-align: center;
}
.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}

.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 0px solid #a33a3a;
}
</style>

<h3> {{date.date_type}}</h3>

<form method="post" id="task-update-form" action="{% url 'planner4u:waf_update_date' date.date_id %}">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>

        <a href="{% url 'planner4u:waf_show_task' task_id %}" class="button5">Powrót do zadania</a>
        <input type="submit" value="Zaktualizować" class="button2"/>
</form>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}