<style>
.dataTables_filter, .dataTables_info {
  display: none;
}

#min{
	width: 123.3px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
    background: #ddd;
	outline: none;
	color: black;
}

#max{
	width: 123.3px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: none;
    background: #ddd;
	outline: none;
	color: black;
}

button#button1 {
  width: 9%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .4em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

button#button1:active {
  box-shadow: none;
}

button#button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button2 {
  cursor: pointer;
  float: right;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .4em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button2:active {
  box-shadow: none;
}

a.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
</style>

<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>e-Urząd</title>


  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css"/>

  <style type="text/css" class="init"></style>

  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.11.3/sorting/time.js"></script>


<div class="form-group">
  <div class="btn-group">
    <label for="min">Raport z realizacji zadań od </label>
    <input type="date" class="form-control" id="min" name="min">
    <label for="max">do </label>
    <input type="date" class="form-control" id="max" name="max">

    <button type="submit" id="button1" class="btn btn-primary">Wyszukaj</button>

    <a href="{% url 'planner4u:m-menu' %}" class="button2">Powrót</a>
  </div>
</div>

</head>
  <body>
    <div class="container">
      <table id="example" class="display wrap" width="100%">
        <thead>
          <tr>
            <th>Rodzaj zadania</th>
            <th>Wydział</th>
            <th>Opis zadania</th>
            <th>Data początkowa</th>
            <th>Data końcowa</th>
          </tr>
        </thead>

        <tbody>
          {% if tasks_dngs %}
              {% for task in tasks_dngs %}
                <tr>
                    <th style="font-weight: normal">{{ task.priority_on_overdue }}</th>
                    <th style="width: 26%; text-align: left; font-weight: normal">{{ task.priority }}</th>
                    <th style="width: 31%; text-align: left; text-align: justify; font-weight: normal">{{ task.description|default:"-" }}</th>
                  {% for date in dates %}
                      {% if task.task_id == date.task_id %}
                    <th style="width: 15%; font-weight: normal">{{ date.date | date:"Y - m - d" }}</th>
                      {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>

<script>
$(document).ready( function () {
  var table = $('#example').DataTable(
          {
            "language": {
                "zeroRecords": "Brak zapisów",
                "info": "Strona _PAGE_ z _PAGES_",
                "infoEmpty": "Brak zadań",
                  "paginate": {
                    "previous": "poprzednia strona",
                    "next": "następna strona"
                }
            },
            "bInfo" : false ,
            "bLengthChange" : false,
			"dom": '<"dt-buttons"Bf><"clear">lirtp',
			"paging": true,
			"autoWidth": true,
			"buttons": [
				{
                    text: 'Zapisz raport PDF',
                    extend: 'pdfHtml5',
					filename: 'dt_custom_pdf',
					orientation: 'portrait',
					pageSize: 'A4', //A3 , A5 , A6 , legal , letter
					exportOptions: {
						columns: ':visible',
						search: 'applied',
						order: 'applied'
					},
					customize: function (doc) {
                        //Remove the title created by dataTables
                        doc.content.splice(0, 1);
                        doc.content.forEach(function (item) {
                            if (item.table) {
                                // Set width for 5 columns
                                item.table.widths = [45, 154, 204, 55, 55]
                            }
                        });

                        var months = ["stycznia", "lutego", "marca", "kwietnia", "maja", "czerwca", "lipca", "sierpnia", "września", "października", "listopada", "grudnia"];
						var day = ["poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota", "niedziela"]
                        var now = new Date();
						var jsDate = (day[now.getDay()]) + ', ' + now.getDate() + ' ' + (months[now.getMonth()]) + ' ' + now.getFullYear();
						// A documentation reference can be found at
						// Set page margins [left, top, right, bottom] or [horizontal, vertical]
						// or one number for equal spread
						// It's important to create enough space at the top for a header !!!
						doc.pageMargins = [20, 60, 20, 40];
						// Set the font size fot the entire document
						doc.defaultStyle.fontSize = 9;
						// Set the fontsize for the table header
						doc.styles.tableHeader.fontSize = 9;

						// Right side: A document title
						doc['header']=(function greetings() {
							return {
								columns: [
									{
										alignment: 'left',
										fontSize: 11.4,
                                        text: "Raport z realizacji zadań od " + $('#min').val() + " do " + $('#max').val()
									},
									{
										alignment: 'right',
										fontSize: 11.4,
										text: ""
									}
								],
								margin: 20
							}
						});
						// Create a footer object with 2 columns
						// Left side: report creation date
						// Right side: current page and total pages
						doc['footer']=(function(page, pages) {
							return {
								columns: [
									{
										alignment: 'left',
										text: [{ text: jsDate.toString() }],
                                        fontSize: 9.5,
                                        margin: [0,3]
									},
									{
										alignment: 'right',
										text: ['Strona ', { text: page.toString() }, ' z ',	{ text: pages.toString() }],
                                        fontSize: 9.5
                                    }
								],
								margin: 20
							}
						});
						// Change dataTable layout (Table styling)
						// To use predefined layouts uncomment the line below and comment the custom lines below
						// doc.content[0].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
						var objLayout = {};
						objLayout['hLineWidth'] = function(i) { return .5; };
						objLayout['vLineWidth'] = function(i) { return .5; };
						objLayout['hLineColor'] = function(i) { return '#aaa'; };
						objLayout['vLineColor'] = function(i) { return '#aaa'; };
						objLayout['paddingLeft'] = function(i) { return 4; };
						objLayout['paddingRight'] = function(i) { return 4; };
						doc.content[0].layout = objLayout;
				    }
				}],
                drawCallback: function() {
                  var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;
                  $('.buttons-pdf')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                }
		  },

          $.fn.dataTableExt.afnFiltering.push(
                function(oSettings, aData, iDataIndex) {
                    var iFini = document.getElementById('min').value;
                    var iFfin = document.getElementById('max').value;
                    var dateCol = 4;


                    iFini = iFini.substring(0, 4) + iFini.substring(5, 7) + iFini.substring(8, 10);
                    iFfin = iFfin.substring(0, 4) + iFfin.substring(5, 7) + iFfin.substring(8, 10);
                    console.log(iFfin + " " + iFini);

                    var datofini = aData[dateCol].substring(0, 4) + aData[dateCol].substring(5, 7) + aData[dateCol].substring(8, 10);
                    var datoffin = aData[dateCol].substring(0, 4) + aData[dateCol].substring(5, 7) + aData[dateCol].substring(8, 10);

                    console.log(datofini + " " + datoffin);

                    if (iFini === "" && iFfin === "") {
                        return true;
                    } else if (iFini <= datofini && iFfin === "") {
                        return true;
                    } else if (iFfin >= datoffin && iFini === "") {
                        return true;
                    } else if (iFini <= datofini && iFfin >= datoffin) {
                        return true;
                    }
                    return false;
                }
          ),

          $('button:submit').on('click', function() {
                table
                    .column(2)
                    .search($('#dt_theme').val());

                table
                    .column(0)
                    .search($('#Institution').val());

                table.draw();
            }),
);
});
</script>