.task-priority-critical {
    font-style: italic;
    color: #b72925;
}

.task-priority-high {
    font-style: italic;
    color: #ffce39;
}

.task-priority-regular {
    font-style: italic;
    color: #20543e;
}

.task-priority-low {
    font-style: italic;
    color: #6b6b6b;
}

.task-priority-minor {
    font-style: italic;
    color: #aaaaaa;
}

.title-plan:after {
    content: " p ";
    color: #5f2f92;
    font-style: italic;
}

.title-condition:after {
    content: " c ";
    color: #5f2f92;
    font-style: italic;
}





