* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    overflow: hidden;
    background-color: #00A499;
    padding: 0px 10px;
}
.header-left img {
              float: left;
              position: absolute;
              top: 0px;
              left: 0px;
            }

            .header a {
              float: left;
              color: white;
              text-align: center;
              padding: 12px;
              text-decoration: none;
              font-size: 18px;
              line-height: 25px;
            }

            .active:hover {
                background-color: #28d8b2;
            }

            .header a:hover {
              background-color: #28d8b2;
              color: white;
            }

            .header a.active {
              background-color: white;
              color: white;
            }

            .header-right {
              float: right;
            }

            .header-left {
              float: left;
            }

            .header-middle {
              text-align: center;
            }

            @media screen and (max-width: 500px) {
              .header a {
                float: none;
                display: block;
                text-align: left;
              }
              .header-right {
                float: none;
              }
            }
            /*
            a {
                 background-color:  #f1f1f1;
                 color: #5f2f92;
                 text-align: center;
                 padding: 12px;
                 text-decoration: none;
                 font-size: 14px;
                 line-height: 25px;
                 border-radius: 2px;
                 font-weight: bold;
            }

            a:hover {
              background-color:#5f2f92;
              color: white;
            }

            .plain-table {
                border-collapse: collapse;
                width: 100%;
            }
            */

            .pope-ref {
                 background-color:  #f1f1f1;
                 color: #5f2f92;
                 text-align: center;
                 padding: 12px;
                 text-decoration: none;
                 font-size: 14px;
                 line-height: 20px;
                 border-radius: 5px;
                 font-weight: bold;
            }

            .pope-ref:hover {
              background-color:#5f2f92;
              color: white;
            }

            .pbtn {
                 background-color:  #f1f1f1;
                 color: white;
                 text-align: center;
                 padding: 12px;
                 text-decoration: none;
                 font-size: 14px;
                 line-height: 13px;
                 border-radius: 5px;
                 font-weight: bold;
            }

            .pbtn-success {
                background-color:  #5cb85c;
            }

            .pbtn-success:hover {
              background-color: #499437;
            }

            .pbtn-danger {
                background-color: #dc3545;
            }

            .pbtn-danger:hover {
              background-color: #b52b39;
            }


