/* Style the list items */
        .select-ul li {
          cursor: pointer;
          padding: 12px 8px 12px 40px;
          list-style-type: none;
          background: #eee;
          font-size: 18px;

        }

        /* Set all odd list items to a different color (zebra-stripes) */
        .select-ul li:nth-child(odd) {
          background: #f9f9f9;
        }

        /* Darker background-color on hover */
        .select-ul li:hover {
          background: #ddd;
        }

        /* When clicked on, add a background color and strike out text */
        .select-ul li.checked {
          background: #5cb85c;
          color: #fff;
        }

        .scrollpane { height: 300px; overflow: auto; }