{% load staticfiles %}
<html>
    <head>
        <title>e-Urząd</title>
        <link rel="stylesheet" type="text/css" href="{% static 'planner4u/subtasks_tree_style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'planner4u/planner4u_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'planner4u/pope_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'planner4u/scroll_style.css' %}" />

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    </head>
    <body>
    <div class="header">
        <div class="header-left">
             <a href="{% url 'planner4u:ministry'%}"><img src="{% static 'planner4u/pictures/logo.png' %}" width="245s" height="48"></a>
        </div>

        <div class="header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'planner4u:ministry'%}"> {{ user.username }} </a>
                <a href="{% url 'planner4u:logout' %}">wyloguj się</a>
            {% else %}
                <a href="{% url 'planner4u:login' %}">Zaloguj się</a>
                <a href="{% url 'planner4u:register' %}">Register</a>
            {% endif %}
        </div>

    </div>

    <div class="content container">
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <b> </b>
    </div>

</body>
</html>

<style>

</style>