{% extends 'planner4u/base.html' %}
{% block content %}
    <br/>
    <br/>
    <div>
        <a href="{% url 'planner4u:create_task_bdg'%}" class="pope-ref"> Create simple task</a>
        <!--<a href="{% url 'planner4u:create_task'%}" class="pope-ref"> Create simple task</a>-->
        <a href="{% url 'planner4u:create_plan'%}" class="pope-ref"> Create plan</a>
        <a href="{% url 'planner4u:create_condition'%}" class="pope-ref"> Raports</a>
        <a href="{% url 'planner4u:create_group'%}" class="pope-ref"> Add new group</a>
    </div>

    <!-- AGENDA -->
    <div class="container">

        <br/>
        {% if today_tasks or one_day_delta_tasks or two_days_delta_tasks %}
            <h2><b>Agenda: </b></h2>
            <br/>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% if today_tasks %}
                    <div class="col-md-4">
                        <b> Today: </b>
                        <table border="5" class="table">
                            {% for task in today_tasks %}
                                <tr>
                                    <td>
                                        <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                        <label style="font-style: italic;">{{ task.status }} </label>
                                        <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                    </td>
                                    <td>
                                        <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                    </td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                    {% if one_day_delta_tasks %}
                    <div class="col-md-4">
                        <b> Tomorrow: </b>
                        <table border="5" class="table">
                            {% for task in one_day_delta_tasks %}
                                 <tr>
                                <td>
                                    <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                    <label style="font-style: italic;">{{ task.status }} </label>
                                    <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                </td>
                                <td>
                                    <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                    {% if two_days_delta_tasks %}
                    <div class="col-md-4">
                        <b> Day after tomorrow: </b>
                        <table border="5" class="table">
                            {% for task in two_days_delta_tasks %}
                            <tr>
                                <td>
                                    <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                    <label style="font-style: italic;">{{ task.status }} </label>
                                    <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                </td>
                                <td>
                                    <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if overdue_tasks or tasks or executor_tasks or groups %}
            <h2><b>General: </b></h2>
        {% else %}
            <h4> You don't have any tasks nor groups! </h4>
        {% endif %}
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% if tasks %}
                    <div class="col-md-4">
                        <b> All tasks: </b>
                        <table class="table " border="5">
                            {% for task in tasks %}
                                <tr>
                                    <td>
                                        <h4><b class="title-{{task.task_type}}" >{{ task.title }}</b></h4>
                                        <label style="font-style: italic;">{{ task.status }} </label>
                                        <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                    </td>
                                    <td>
                                        <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                    {% if overdue_tasks or executor_tasks %}
                    <div class="col-md-4">
                        {% if overdue_tasks %}
                            <b>Overdue tasks: </b>
                            <table class="table" border="5">
                                {% for task in overdue_tasks %}
                                    <tr>
                                        <td>
                                            <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                            <label style="font-style: italic;">{{ task.status }} </label>
                                            <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                        </td>
                                        <td>
                                            <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        {% if executor_tasks %}
                            <b>Executable tasks: </b>
                            <table class="table" border="5">
                                {% for task in executor_tasks %}
                                    <tr>
                                        <td>
                                            <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                            <label style="font-style: italic;">{{ task.status }} </label>
                                            <label class="task-priority-{{task.priority_bdg }}"> {{task.priority}} </label>
                                        </td>
                                        <td>
                                            <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                    {% endif %}


                    {% if groups %}
                    <div class="col-md-4">
                        <b> Groups: </b>
                        <table class="table " border="5">
                           {% for group in groups %}
                            <tr>
                                <td>
                                    <h4><b>{{ group.title }}</b></h4>
                                </td>
                                <td>
                                    <a href="{% url 'planner4u:show_group' group.group_id %}" class="btn btn-outline-dark"> show </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- All Tasks + (Executor + Overdue) + Groups -->
    <br/>
    <br/>
<br/>
<br/>
<br/>

{% endblock %}