{% extends 'planner4u/base.html' %}
{% block content %}

<input type="text" id="bdgInput" onkeyup="myFunction()"
placeholder="Wyszukaj.." title="Type in a name">

<table id="bdgTable">
  <tr class="header">
    <th style="width:40%; color: white;">ID Wydziału</th>
    <th style="width:60%; color: white;">Nazwa Wydziału</th>
  </tr>
</table>
<table id="bdgTablee">
  <tr>
    <td><a href="{% url 'planner4u:p-home' %}">P</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:p-home' %}">Wydział Protokolarny</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:ssp-home' %}">SSP</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:ssp-home' %}">Samodzielne stanowisko pracy ds. nadzoru nad Prezesem Państwowej Agencji Atomistyki</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:wok-home' %}">WOK</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:wok-home' %}">Wydział Obsługi Kancelaryjnej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:za1-home' %}">ZA1</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:za1-home' %}">Zespół Analiz</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:zklz-home' %}">ZKLZ</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:zklz-home' %}">Zespół Koordynacji Legislacji Zewnętrznej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:zp1-home' %}">ZP1</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:zp1-home' %}">Zespół ds. Parlamentarnych</a></td>
  </tr>
</table>

<br>
<br>
<br>
<br>

<a href="{% url 'planner4u:ministry' %}" class="button1">Wybierz nowy Departament</a>

<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<style>
.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-middle {
    text-align: center;
}
.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}
.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-icon ul li a i{
	line-height: 50px;
}
.w3hubs-icon ul li:hover{
	background: #e67e22;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
	font-size: 20px;
}
.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}
</style>

<style>
 a.button1 {
  position: fixed;
  bottom: 65;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button1:active {
  box-shadow: none;
}

a.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

#bdgInput {
  #background-position: 10px 10px;
  #background-repeat: no-repeat;
  outline: none;
  width: 70%;
  position: center;
  background-image: linear-gradient(0deg,#28d8b2 2px,rgba(156,39,176,0) 0),linear-gradient(0deg, #28d8b2 1px,hsla(0,0%,82%,0) 0);
  margin: 14 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 0px solid;
  margin-bottom: 12px;
}

#bdgTable {
  border-collapse: collapse;
  width: 70%;
  border: 0px 1px solid #ddd;
  font-size: 18px;
}

#bdgTable th,
#bdgTable td {
  text-align: left;
  padding: 12px;
}

#bdgTable tr a {
  display: block;
  text-decoration: none;
  color: #404040;
}

#bdgTable li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #33B5E5;
}

#bdgTable tr {
  border-bottom: 1px solid #ddd;
  margin-right: 30px solid;
}

#bdgTable tr.header,
#bdgTable tr:hover {
  background-color: #28d8b2;
}





#bdgTablee {
  border-collapse: collapse;
  width: 70%;
  border: 0px 1 px solid #ddd;
  font-size: 18px;
}

#bdgTablee th,
#bdgTablee td {
  text-align: left;
  padding: 12px;
}

#bdgTablee tr a {
  display: block;
  text-decoration: none;
  color: #686868;
  margin-left: -4%;
  padding-left: 4%;
}

#bdgTablee tr {
  border-bottom: 1px solid #28d8b2;
  margin-right: 30px solids;
}

#bdgTablee tr.header,
#bdgTablee tr:hover {
  background-color: #e7ffde;

}
 </style>

 <script>
   function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("bdgInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("bdgTablee");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0]; // for column one
      td1 = tr[i].getElementsByTagName("td")[1]; // for column two
    if (td) {
      if ( (td.innerHTML.toUpperCase().indexOf(filter) > -1) || (td1.innerHTML.toUpperCase().indexOf(filter) > -1) )  {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
 </script>
{% endblock %}