<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            input.button2 {
  width: 17.2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .3em 2em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  display: flex;
  justify-content: center;
  margin: 17 auto;
}

input.button2:active {
  box-shadow: none;
}

input.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Invoice # {{invoice_id}} </p>
            </div>
        </div>
        <div id="details" class='details'>
            <!--{% for task in tasks %}-->
                    <p><b>Task_id </b>{{ task.task_id }}</p>
                    <p><b>Title: </b> {{ task.title }}</p>
                    <p>
                        <b>Description: </b>
                        {{ task.description|default:"-" }}

                    </p>
                    <p><b>Status: </b> {{ task.status }} </p>
                    <p><b>Wydział: </b> {{ task.priority }}</p>
                    <p><b>Priority on overdue: </b> {{ task.priority_on_overdue }}</p>
                    <p><b>Created: </b> {{task.creation_date }}</p>
                    <!--{% for date in dates %}-->
                    {% if task.task_id == date.task_id %}
                        <p><b>Date type: </b> {{ date.date_type }}</p>
                        <p><b>Date: </b> {{ date.date }}</p>
                    {% endif %}
            <!--{% endfor %}-->
                    <br/>
            <!--{% endfor %}-->
                </div>
        <!--{% if dates %}
        <br/>
        <br/>
        {<b>Dates: </b>
        <table class="table">
            {% for date in dates %}
                <tr>
                    <td>
                        {{ date.task_id }}
                    </td>
                    <td>
                        {{date.date_type}}
                    </td>
                    <td>
                        {{ date.date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}-->
        <hr class='hrItem' />

    </body>
</html>
