{% extends 'planner4u/base.html' %}
{% block content %}
<div class="zoom">
<input type="text" id="myInput" onkeyup="myFunction()"
placeholder="Wyszukaj.." title="Type in a name">


<table id="myTablee">
  <tr class="header">
    <th style="width:40%; color: white;">ID Departamentu</th>
    <th style="width:60%; color: white;">Nazwa Departamentu</th>
  </tr>
</table>
  <div class="example" style="height: 381px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
  <table id="myTable" >
  <tr>
    <td><a href="{% url 'planner4u:bdg-choice' %}">BDG</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:bdg-choice' %}">Biuro Dyrektora Generalnego</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:bf-choice' %}">BF</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:bf-choice' %}">Biuro Finansowe</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:bka-choice' %}">BKA</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:bka-choice' %}">Biuro Kontroli i Audytu</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:bm-choice' %}">BM</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:bm-choice' %}">Biuro Ministra</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:db-choice' %}">DB</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:db-choice' %}">Departament Budżetu</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dc-choice' %}">DC</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dc-choice' %}">Departament Ciepłownictwa</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:deg-choice' %}">DEG</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:deg-choice' %}">Departament Elektromobilności i Gospodarki Wodorowej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dej-choice' %}">DEJ</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dej-choice' %}">Departament Energii Jądrowej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dek-choice' %}">DEK</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dek-choice' %}">Departament Edukacji i Komunikacji</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:delg-choice' %}">DELG</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:delg-choice' %}">Departament Elektroenergetyki i Gazu</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dfe-choice' %}">DFE</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dfe-choice' %}">Departament Funduszy Europejskich</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dgk-choice' %}">DGK</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dgk-choice' %}">Departament Geologii i Koncesji Geologicznych</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dgo-choice' %}">DGO</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dgo-choice' %}">Departament Gospodarki Odpadami</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dis-choice' %}">DIŚ</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dis-choice' %}">Departament Instrumentów Środowiskowych</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dll-choice' %}">DLŁ</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dll-choice' %}">Departament Leśnictwa i Łowiectwa</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dngs-choice' %}">DNGS</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dngs-choice' %}">Departament Nadzoru Geologicznego i Polityki Surowcowej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dop-choice' %}">DOP</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dop-choice' %}">Departament Ochrony Przyrody</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:doze-choice' %}">DOZE</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:doze-choice' %}">Departament Odnawialnych Źródeł Energii</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dp-choice' %}">DP</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dp-choice' %}">Departament Prawny</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dpm-choice' %}">DPM</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dpm-choice' %}">Departament Ochrony Powietrza i Polityki Miejskiej</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:drp-choice' %}">DRP</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:drp-choice' %}">Departament Ropy i Paliw Transportowych</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dsm-choice' %}">DSM</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dsm-choice' %}">Departament Spraw Międzynarodowych</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dso-choice' %}">DSO</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dso-choice' %}">Departament Spraw Obronnych, Zarządzania Kryzysowego i Bezpieczeństwa</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'planner4u:dsp-choice' %}">DSP</a></td>
    <td style="width:60%;"><a href="{% url 'planner4u:dsp-choice' %}">Departament Strategii i Planowania Transformacji Klimatycznej</a></td>
  </tr>
</table>
  </div>

<br>
<br>

</div>
<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>

<style>
.zoom{

  -moz-transform: scale(1);
}-->

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-middle {
    text-align: center;
}
.footer a {
    float: center;
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}
.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-icon ul li a i{
	line-height: 50px;
}
.w3hubs-icon ul li:hover{
	background: #e67e22;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
	font-size: 20px;
}
.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}
</style>

<style>
* {
  box-sizing: border-box;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

#myInput {
  #background-position: 10px 10px;
  #background-repeat: no-repeat;
  outline: none;
  width: 70%;
  position: center;
  background-image: linear-gradient(0deg,#28d8b2 2px,rgba(156,39,176,0) 0),linear-gradient(0deg, #28d8b2 1px,hsla(0,0%,82%,0) 0);
  margin: 14 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 0px solid;
  margin-bottom: 12px;
}

#myTablee {
  border-collapse: collapse;
  width: 70%;
  border: 0px 1px solid #ddd;

  font-size: 18px;
}

#myTablee th,
#myTablee td {
  text-align: left;
  padding: 12px;
}

#myTablee tr a {
  display: block;
  text-decoration: none;
  color: #404040;
}

#myTablee li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #33B5E5;
}

#myTablee tr {
  border-bottom: 1px solid #ddd;
  margin-right: 30px solid;
}

#myTablee tr.header,
#myTablee tr:hover {
  background-color: #28d8b2;
}




#myTable {
  border-collapse: collapse;
  width: 70%;
  border: 0px 1 px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr a {
  display: block;
  text-decoration: none;
  color: #686868;
  margin-left: -4%;
  padding-left: 4%;
}

#myTable tr {
  border-bottom: 1px solid #28d8b2;
  margin-right: 30px solids;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #e7ffde;
}
 </style>

 <script>
   function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0]; // for column one
      td1 = tr[i].getElementsByTagName("td")[1]; // for column two
    if (td) {
      if ( (td.innerHTML.toUpperCase().indexOf(filter) > -1) || (td1.innerHTML.toUpperCase().indexOf(filter) > -1) )  {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
 </script>
{% endblock %}


