{% extends 'planner4u/base.html' %}
{% block content %}
    <form method="post" action="{% url 'planner4u:create_group'%}">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            {{ tasks }}
        </table>

        <br/>
        <a href="{% url 'planner4u:home' %}" class="pope-ref">Back to home page</a>
        <input type="submit" value="Create" class="pbtn pbtn-success"/>
    </form>
{% endblock %}