{% extends 'planner4u/base.html' %}
{% block content %}

    <br/>
    <h3 id="title_label"> Group: {{ group.title }} </h3>

    <h3> Tasks: </h3>

    {% if tasks %}
        <ul class="list-group list-group-flush" id="groups-list">
        {% for task in tasks %}
            <li class="list-group-item">
                <a href="{% url 'planner4u:show_task' task.task_id %}"><b> {{ task.title }}</b></a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <b> Group doesn't have any tasks</b>
    {% endif %}

    <br/>
    <a href="{% url 'planner4u:update_group' group.group_id %}" class="pope-ref">Update group</a>
    <button onclick="deletion_confirmation()" class="pbtn pbtn-danger">Delete group</button>

    <script>

            function deletion_confirmation(){
                    if (confirm("Are you sure you want to delete this group?")) {
                        location.href= "{% url 'planner4u:delete_group'  group.group_id %}"
                    }
            }
    </script>
{% endblock %}