{% extends 'planner4u/base.html' %}
{% block content %}

        <div ondblclick="show_title_input()">
                <h3 id="title_label"> {{ group.title }} </h3>
                <br/>
                <input type="text" id="title_input" hidden=true pattern=".{2,40}">
                (click to edit)
        </div>
        <br/>
        <b>Group tasks: </b>
        <br/>
        <ul id="group-tasks-ul" class="list-group">

        </ul>
        <br/>
        <b>User tasks not in the group: </b>
        <ul id="user-tasks-ul" class="list-group">

        </ul>

        <a href="{% url 'planner4u:show_group' group.group_id %}" class="pope-ref">Back to the group</a>
        <script>
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            group_tasks_ul = document.getElementById("group-tasks-ul")
            user_tasks_ul = document.getElementById("user-tasks-ul")

            function load_tasks() {
                $.ajax({
                    url : "{% url 'planner4u:get_tasks_for_group' %}",
                    data: {
                      'group_id': {{ group.group_id }},
                      'username': '{{ user.username }}'
                    },
                    success : function(response) {
                        user_tasks = response.user_tasks
                        group_tasks = response.group_tasks
                        console.log(user_tasks)
                        console.log(group_tasks)

                        for (var key in user_tasks) {
                            if (user_tasks.hasOwnProperty(key)) {
                                li = document.createElement('li');
                                li.classList.add("list-group-item")
                                var checkbox = document.createElement('input');
                                checkbox.type = "checkbox";
                                checkbox.value = key

                                checkbox.addEventListener('change', function(event) {
                                    task_id = event.target.value
                                    console.log("Task id: " + task_id)
                                    $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                            }
                                        }
                                    });

                                    $.ajax({
                                        method: "POST",
                                        url : "{% url 'planner4u:modify_task_group_relation' %}",
                                        data: {
                                          'task_id': task_id ,
                                          'group_id': {{ group.group_id }},
                                          'add_relation': event.target.checked,
                                          'username': '{{ user.username }}'
                                        },
                                        success : function(result) {

                                        },
                                        error : function(xhr,errmsg,err) {
                                            alert("Couldn't modify task-group relation " + errmsg + err)
                                        }
                                    });
                                });

                                task_link = document.createElement('a');
                                task_link.innerHTML = "<b> " + user_tasks[key] + " </b>";
                                var url = "{% url 'planner4u:show_task' 111 %}";
                                href = url.replace('111', key);
                                task_link.setAttribute('href', href);

                                if(key in group_tasks){
                                    checkbox.checked = true
                                    li.appendChild(checkbox);
                                    li.appendChild(task_link);
                                    group_tasks_ul.appendChild(li);
                                }
                                else {
                                    li.appendChild(checkbox);
                                    li.appendChild(task_link);
                                    user_tasks_ul.appendChild(li);
                                }



                            }
                        }


                    },
                    error : function(xhr,errmsg,err) {
                        alert("Couldn't load groups")
                    }
                });
            };
            load_tasks()


        </script>

        <script>
            var title_input = document.getElementById("title_input");
            var title_label = document.getElementById('title_label')
            function show_title_input(){
                title_input.value = title_label.innerHTML
                title_input.hidden=false;
                title_label.hidden=true;

            }
            title_input.addEventListener("keydown", function (e) {
                if (e.keyCode === 13) {
                    console.log("Updating");
                    new_title = e.target.value
                    if(new_title.length<1){
                        alert("This field can't be empty")
                        return;
                    }
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });

                    $.ajax({
                        method: "POST",
                        url : "{% url 'planner4u:update_group' group.group_id %}",
                        data: {
                          'group_id': {{ group.group_id }},
                          'title': new_title,
                          'username': '{{ user.username }}'
                        },
                        success : function(response) {

                        },
                        error : function(xhr,errmsg,err) {
                            alert("Couldn't update group title" + err)
                        }
                    });
                    title_label.innerHTML = new_title
                    title_input.hidden=true;
                    title_label.hidden=false;
                }
            });

        </script>

{% endblock %}