{% extends 'planner4u/base.html' %}
{% block content %}

<style xmlns="http://www.w3.org/1999/html">
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.table{
  border: 1px;
  width: 100%;
  /*display: flex;
  justify-content: center;
  margin: auto 170;*/
}

.table1{
  border: 1px;
  width: 100%;
  /*display: flex;
  justify-content: center;
  margin: auto 170;*/
}

a.button1 {
  float: left;
  margin-left: 1.2%;
  margin-top: -2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: 10px 45px;
  justify-content: space-between;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button1:active {
  box-shadow: none;
}

a.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button2 {
  float: right;
  margin-right: 1.2%;
  margin-top: -2%;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: 10px 85px;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button2:active {
  box-shadow: none;
}

a.button2:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

a.button3 {
  width: 17.2%;
  color: white;
  text-decoration: none;
  user-select: none;
  font-size: 17px;
  font-weight: bold;
  padding: .3em 3em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button3:active {
  box-shadow: none;
}

a.button3:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
a.button4 {
  width: 17.2%;
  color: white;
  text-decoration: none;
  user-select: none;
  font-size: 17px;
  font-weight: bold;
  padding: .3em 3em;
  outline: none;
  border: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button4:active {
  box-shadow: none;
}

a.button4:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
</style>

<style>
.footer {
    overflow: hidden;
    background-color: #00A499;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-middle {
    text-align: center;
}

.footer a {
    color: white;
    text-align: center;
    padding: 28px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.active:hover {
    background-color: white;
}

.footer a:hover {
    background-color: #28d8b2;
    color: white;
}

.footer a.active {
    background-color: white;
    color: white;
}

.footer-middle {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
    .footer-middle {
        float: none;
    }
}
</style>

<style>
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}

.w3hubs-icon ul{
	margin: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background: #7DCEA0;
}

.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}

.w3hubs-icon ul li a i{
	line-height: 50px;
}

.w3hubs-icon ul li:hover{
	background: #e67e22;
}

.w3hubs-icon ul li a i {
    line-height: 38px;
}

.w3hubs-icon ul li a{
	font-size: 20px;
}

.w3hubs-icon ul li{
    width: 40px;
    height: 40%;
}
</style>

<script>
function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
}
</script>

<style>
#text_area {
  width: 170px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid white;
  font-family: Arial;
  font-size: 17px;
  color: #333333;
  resize: none;
  height: auto;
  overflow: hidden;
  display: inline-block;
}

#text_area:active, :hover, :focus {
    outline: 0;
    outline-offset:0;
}

#text_area1 {
  width: 170px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid white;
  font-family: Arial;
  font-size: 17px;
  color: #333333;
  resize: none;
  height: auto;
  overflow: hidden;
  display: inline-block;
}

#text_area1:active, :hover, :focus {
    outline: 0;
    outline-offset:0;
}

#text_area2 {
  width: 170px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid white;
  font-family: Arial;
  font-size: 17px;
  color: #333333;
  resize: none;
  height: auto;
  overflow: hidden;
  display: inline-block;
}

#text_area2:active, :hover, :focus {
    outline: 0;
    outline-offset:0;
}

a.button5 {
  position: fixed;
  bottom: 65;
  right: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  padding: .7em 2em;
  outline: none;
  background-color: #28d8b2;
  background-image: linear-gradient(45deg, rgba(0,0,0,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(0% 0% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

a.button5:active {
  box-shadow: none;
}

a.button5:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
</style>

    <br/>
    <br/>
    <div>
        <a href="{% url 'planner4u:create_task_gkm'%}" class="button1">Dodawanie zadań</a>
        <!--<a href="{% url 'planner4u:create_plan'%}" class="pope-ref"> Create plan</a>-->
        <a href="{% url 'planner4u:gkm-menu'%}" class="button2">Raporty</a>
        <!--<a href="{% url 'planner4u:create_group'%}" class="pope-ref"> Add new group</a>-->
    </div>
    <!-- AGENDA -->
    <div class="container">

        <br/>
        {% if today_tasks or one_day_delta_tasks or two_days_delta_tasks %}
            <!--<h2><b>Agenda: </b></h2>-->
            <!--<br/>-->
        {% endif %}

    <style>
        #table2 th,
        #table2 td {
            padding: 0px;
        }
    </style>

    {% if today_tasks %}
        <h4><b>Dziś: </b></h4>
        <div class="example" style="height: 125px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="table2">
                                {% for task in today_tasks %}
                                    <tr>
                                        <td style="width: 119px;"><h4>{{task.priority_on_overdue}}</h4></td>
                                        <td style="page-break-inside: avoid; word-break: break-all; width: 413px;"><h4><p><textarea readonly id="text_area2" oninput="auto_grow(this)" style="page-break-inside: avoid; width: 97%; height: auto;">{{ task.title }}</textarea></p></h4></td>
                                        <td style="width: 513px;"><h4>{{task.priority}}</h4></td>
                                        <td><h4><a href="{% url 'planner4u:gkm_show_task' task.task_id %}" class="button4">szczegóły</a></h4></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

                    <!--{% if one_day_delta_tasks %}
                    <div class="col-md-4" style="float: initial;">
                        <b> Tomorrow: </b>
                        <table border="5" class="table">
                            {% for task in one_day_delta_tasks %}
                                 <tr>
                                <td>
                                     <th style="word-break: break-all; width: 260px; display: inline-block;"><h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4></th>
                                     <th><label style="font-style: italic;">{{ task.status }} </label></th>
                                     <th><label class="task-priority-{{task.priority }}"> {{task.priority }} </label></th>
                                </td>
                                <td>
                                    <th><a href="{% url 'planner4u:show_task' task.task_id %}">details</a></th>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}-->

                    <!--{% if two_days_delta_tasks %}
                    <div class="col-md-4">
                        <b> Day after tomorrow: </b>
                        <table border="5" class="table">
                            {% for task in two_days_delta_tasks %}
                            <tr>
                                <td>
                                    <th><h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4></th>
                                    <th><label style="font-style: italic;">{{ task.status }} </label></th>
                                    <th><label class="task-priority-{{task.priority }}"> {{task.priority }} </label></th>
                                </td>
                                <td>
                                <th><a href="{% url 'planner4u:show_task' task.task_id %}">details</a></th>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}-->
                </div>
            </div>


        <style>
            #table1 th,
            #table1 td {
              padding: 0px;
            }
        </style>

    {% if one_day_delta_tasks %}
        <h4><b>Jutro: </b></h4>
        <div class="example" style="height: 125px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="table1">
                                {% for task in one_day_delta_tasks %}
                                    <tr>
                                        <td style="width: 119px;"><h4>{{task.priority_on_overdue}}</h4></td>
                                        <td style="page-break-inside: avoid; word-break: break-all; width: 413px;"><h4><p><textarea readonly id="text_area1" oninput="auto_grow(this)" style="page-break-inside: avoid; width: 97%; height: auto;">{{ task.title }}</textarea></p></h4></td>
                                        <td style="width: 513px;"><h4>{{task.priority}}</h4></td>
                                        <td><h4><a href="{% url 'planner4u:gkm_show_task' task.task_id %}" class="button4">szczegóły</a></h4></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

        <style>
            #table th,
            #table td {
              padding: 0px;
            }
        </style>

    {% if tasks %}
        <h4><b>Wszystkie zadania: </b></h4>
        <div class="example" style="height: 125px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="table">
                                {% for task in tasks %}
                                    <tr>
                                        <td style="width: 119px;"><h4>{{task.priority_on_overdue}}</h4></td>
                                        <td style="width: 413px;"><h4><p><textarea readonly id="text_area" oninput="auto_grow(this)" style="page-break-inside: avoid; width: 97%; height: auto;">{{ task.title }}</textarea></p></h4></td>
                                        <td style="width: 513px;"><h4>{{task.priority}}</h4></td>
                                        <td><h4><a href="{% url 'planner4u:gkm_show_task' task.task_id %}" class="button3">szczegóły</a></h4></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>

        {% if overdue_tasks or tasks or executor_tasks or groups %}
            <!--<h2><b>General: </b></h2>-->
        {% else %}
            <!--<h4> Wydział nie posiada żadnych zadań! </h4>-->
        {% endif %}
                    <!--{% if overdue_tasks or executor_tasks %}
                    <div class="col-md-4">
                        {% if overdue_tasks %}
                            <b>Overdue tasks: </b>
                            <table class="table" border="5">
                                {% for task in overdue_tasks %}
                                    <tr>
                                        <td>
                                            <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                            <label style="font-style: italic;">{{ task.status }} </label>
                                            <label class="task-priority-{{task.priority }}"> {{task.priority }} </label>
                                        </td>
                                        <td>
                                            <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        {% if executor_tasks %}
                            <b>Executable tasks: </b>
                            <table class="table" border="5">
                                {% for task in executor_tasks %}
                                    <tr>
                                        <td>
                                            <h4><b class="title-{{task.task_type}}">{{ task.title }}</b></h4>
                                            <label style="font-style: italic;">{{ task.status }} </label>
                                            <label class="task-priority-{{task.priority }}"> {{task.priority }} </label>
                                        </td>
                                        <td>
                                            <a href="{% url 'planner4u:show_task' task.task_id %}">details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                    {% endif %}-->


                    <!--{% if groups %}
                    <div class="col-md-4">
                        <b> Groups: </b>
                        <table class="table " border="5">
                           {% for group in groups %}
                            <tr>
                                <td>
                                    <h4><b>{{ group.title }}</b></h4>
                                </td>
                                <td>
                                    <a href="{% url 'planner4u:show_group' group.group_id %}" class="btn btn-outline-dark"> show </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        </div>
                    {% endif %}-->

<br/>
<br/>
<br/>
<a href="{% url 'planner4u:bf-choice' %}" class="button5">Powrót</a>
<footer>
    <div class="footer">
        <div class="footer-middle">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="footer.css">
              <div class="w3hubs-icon">
                  <a href="https://www.youtube.com/ministerstwoklimatui%C5%9Brodowiska" target="black"><i class="fa fa-youtube-play"></i></a>
                  <a href="https://twitter.com/MKiS_GOV_PL" target="black"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/MKiSGOVPL" target="black"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/mkis_gov_pl/" target="black"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/ministerstwo-klimatu/?viewAsMember=true" target="black"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
    </div>
</footer>
    <!-- All Tasks + (Executor + Overdue) + Groups -->

{% endblock %}